.card-business {
  position: relative;
  overflow: hidden;
}
.title-business {
  width: 164px;
  height: 64px;
}
.price-business,
.button-business {
  background-color: $business-card-color;
}
.promo {
  position: absolute;
  left: 264px;
  top: 31px;
  transform: rotate(45deg);
  width: 147px;
  height: 25px;
  font-size: 14px;
  font-weight: $text-bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 25px;
  background-color: $promo-background-color;
}
