@import 'variables.scss';

* {
  box-sizing: border-box;
}
.page {
  display: flex;
  padding: 115px 132px;
  margin: auto;
  justify-content: space-between;
  width: 1440px;
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
  color: $primary-font-color;
  background-color: $page-background-color;
}
@import 'general.scss';
@import 'card-basic.scss';
@import 'card-business.scss';
@import 'card-webshop.scss';
