$page-background-color: #141b1c;
$card-background-color: #334247;
$primary-font-color: #ffffff;
$text-bold: 700;
$basic-card-color: #5bb189;
$business-card-color: #3a6ba5;
$webshop-card-color: #ec632a;
$odd-list-item-background-color: #2a3438;
$promo-background-color: #dc3f45;
